$font-size: 10rem;


#headertext {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto; 
}

.bigheadline {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: overline;
    font-size: 13.5vw;
    line-height: 7vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: -22vw;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-shadow: rgb(255, 102, 245) 1px 1px 20px;
    text-transform: uppercase;
}

.bigheadline2 {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: underline;
    font-size: 7.2vw;
    line-height: 7vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: -10vw;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-shadow: rgb(255, 102, 245) 1px 1px 20px;
}

#footertext {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#name {
    color: rgb(94, 252, 247);
}

h2 {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: left;
    color:  rgb(57, 7, 63);
    margin-bottom: 10px;
    margin-top: 20px;
}

.brodtext {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: rgb(0, 0, 0, 0.8);
    margin-bottom: 50px;
    max-width: 500px;
}

.brodtext2 {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: rgb(0, 0, 0, 0.8);
    margin-bottom: 5px;
    max-width: 500px;
    margin-left: 20px;
}


.menutextopen {
    color: rgb(164, 255, 225);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}