

@media (prefers-color-scheme: dark) {

    body {
        background-color: rgb(84, 12, 92);
    }

    #main {
        background-color: rgb(34, 4, 37);
        color: rgb(255, 255, 255);
    }

    .bigheadline {
        color: rgb(57, 7, 63);
        -webkit-text-stroke: 2px rgb(57, 7, 63);
        text-shadow: rgb(255, 102, 245) 1px 1px 20px;
    }

    .bigheadline2 {
        color: rgb(57, 7, 63);
        -webkit-text-stroke: 2px rgb(57, 7, 63);;
        text-shadow: rgb(255, 102, 245) 1px 1px 20px;
    }

    h2 {
        color: rgb(255, 102, 245);
    }

    .brodtext {
        color: rgb(255, 255, 255);
    }

    .brodtext2 {
        color: rgb(255, 255, 255);
    }

    #logos {
        display: none;
    }

    #logosdarktheme {
        display: flex;
    }
}