//Text color-variables
$bigheadline-color: rgba(255, 255, 255, 0.9);
$bigheadline-shadow: rgb(255, 102, 245);
$bigheadline-stroke: rgb(255, 255, 255);

$link-color: rgb(255, 255, 255);
$linkborder-color: rgb(255, 255, 255);

$headertext-color: rgb(255, 255, 255);

$h2-color: rgb(57, 7, 63);
$brodtext-color: rgb(0, 0, 0, 0.8);

$footertext-color: rgb(255, 255, 255);
$name-color: rgb(94, 252, 247);

//Background color-variables
$bodybg-color: rgb(217, 102, 255);
$headerbg-color: rgb(57, 7, 63);
$startcontainerbg-color: rgb(57, 7, 63);
$mainbg-color: rgb(255, 255, 255);
$footerbg-color: rgb(57, 7, 63);

